.wrapper2{
    width: 100%;
	height: 800px;
	background-color: #D1C5AC;

    .bgi-rose{
        width: 350px;
		height: 600px;
        padding-left: 250px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -300px;
		margin-top: -300px;
		background-size: 100% 100%;
		background-image: url(../img/rose.jpg);
		opacity: 0.2;
		animation: show 2s linear forwards;  

        .autograph{
            position: absolute;
            right: 0;
            top: 350px;
            opacity: 0.7;    
        } 

        .content{
            font-size: 20px;
			margin-top: 60px;
            text-indent: 2em;
			line-height: 1.5em;
			font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
        }   
    }

    @keyframes show {
        to {
            stroke-dashoffset: 0;
            opacity: 1;
        }
    }

    @-webkit-keyframes show {
        to {
            stroke-dashoffset: 0;
            opacity: 1;
        }
    }
}